# Ignorar arquivos de configuração do Composer
/vendor/
/composer.lock
/composer.json

# Ignorar diretórios de cache e logs
/storage/*
/storage/app/*
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/node_modules/

# Ignorar arquivos de IDEs
.idea/
.vscode/

# Ignorar arquivos temporários
.DS_Store
Thumbs.db

# Ignorar arquivos de log
*.log

# Ignorar arquivos de backup
*.bak
*.swp

# Ignorar arquivos de ambiente
.env
